.background{
    background-color:rgb(105, 105, 105);
    opacity: 0.8;
    color: white;
    font-size: 16pt;
    border-radius: 20px;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-nav{
    padding-left: 30%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:900;
}
.header-border{
    width: 50px;
    border: 2px solid black;
  }
  
  .content-header {
      
    text-transform:uppercase;
    font-weight:500;
    text-align: center;
    color: #1b1bbf;
}
.contacts{
    text-align:center;
    font-size:18pt;
    padding-top:10px
}
.navbar-inverse .navbar-brand{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:990;
    color: white; 
}
#bannerimage {
    margin-top: 70px;
    width: 100%;
    background-image: url(dog3.jpg);
    height: 450px;
    background-color: white;
    background-position: center;
}
h1 span { 
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgba(0, 0, 0, 0.7);  
    padding: 10px; 
}
.item{
    height:"200px";
    width:"200px"
}
.contact{
    padding-top:"200px"
}

.image {
    position: relative;
 }
 .thumb{
 width:100%;
 height:400px;
 margin-bottom:20px
 }
 h2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
 }
 h4 {
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%;
 }
 h2 span {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: transparent; /* fallback color */
    background: transparent;
    padding: 10px;
 }
 h4 span {
    color: white;
    font: bold 14px Helvetica, Sans-Serif;
    font-weight: 500;
    background: transparent; /* fallback color */
    background: transparent;
    padding: 10px;
 }
 h2 span.spacer {
    padding:0 5px;
 } 
.fa-3x{
    padding:1px 5px 5px 3px;
}
hr{
    color:black;
    border: 1px solid black
}
.btn-primary{
    background-color: grey;
    border: 1px solid grey
}
.donation-container {
	height: 400px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 30px;
}

.donation-box {
	width: 390px;
	height: 386px;
	background-color: rgb(211, 211, 211);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.donation-box .title {
	background-color: rgb(90, 90, 90);
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: white;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
    font-size: 15px;
    font-weight: 550;
}

.donation-box .donate-button {
	background-color: rgb(90, 90, 90);
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 18px;
	bottom: 0px;
	position: absolute;
	cursor: pointer;
	font-weight: 800;
}

.donation-box .fields {
	width: 59%;
	display: block;
	position: absolute;
	top: 60px;
	left: 15px;
}

.donation-box .fields input {
	width: 90%;
	font-size: 17px;
	padding: 10px;
	border-radius: 4px;
	border-width: 0px;
	color: #5C5C5C;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-bottom: 10px;
	-webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
   color: #cdcdcd;
   font-size: 15px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #cdcdcd;
   font-size: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #cdcdcd;
   font-size: 15px; 
}

:-ms-input-placeholder {  
   color: #cdcdcd;
   font-size: 15px;
}

.donation-box .amount {
	width: 30%;
	display: block;
	position: absolute;
	top: 60px;
	right: 15px;
}

.donation-box .amount .button {
	width: 100%;
	background-color: gray;
	margin-bottom: 10px;
	text-align: center;
	color: white;
	padding: 15px 0px 15px 0px;
	border-radius: 4px;
	font-size: 20px;
	cursor: pointer;
	
	-webkit-transition: 400ms background-color;
	-moz-transition: 800ms opacity, 800ms right;
	-ms-transition: 800ms opacity, 800ms right;
	-o-transition: 800ms opacity, 800ms right;
	transition: 200ms background-color;
}

.donation-box .amount .button:hover {
	background-color: #393939;
}

.donation-box .amount .button.selected {
	background-color: #393939;
}

.donation-box .amount .button input {
	min-width: 34px;
	font-size: 20px;
	font-weight: 500;
	border: none;
	background-color: transparent;
	color: white;
	font-family: Arial, Helvetica, sans-serif, sans-serif;
	font-size: 20px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	border-bottom: 2px dashed white;
	-webkit-font-smoothing: antialiased;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.set-amount {
	max-width: 96px;
}

.switch {
  position: absolute;
  top: 190px;
  left: 15px;
  margin: 25px auto;
  height: 26px;
  width: 58.5%;
  background: white;
  border-radius: 3px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 49%;
  line-height: 26px;
  font-size: 11px;
  color: #5C5C5C;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgb(0, 0, 0, 0.65);
  
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 114px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 49%;
  height: 22px;
  background: rgb(168, 168, 168);
  border-radius: 3px;
  background-color: rgb(90, 90, 90)F;
  
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.checkboxes {
	position: absolute;
	top: 260px;
	left: 30px;
}

.checkboxes label {
	position: relative;
	top: -2px;
	font-size: 13px;
	color: black;
}

.checkbox {
	/* -webkit-appearance: none; */
	background-color: #fafafa;
	border: 2px solid rgb(0, 0, 0);
	padding: 9px;
	padding-bottom:20px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
    outline: none;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.checkbox:checked {
	background-color:black;
	border: 1px solid black;
	color: white;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: white;
}

.confirm {
	display: none;
	position: absolute;
	top: 335px;
	left: 15px;
	right: 15px;
	font-size: 16px;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.confirm i {
	font-weight: bold;
	text-decoration: underline;
	font-style: normal;
}
.thumbnail {
    border:1px solid black;
    border-radius:0px;
}